.btn{
  width: 265px;
  height: 37px;
  background-color: #125ac6;
  display: block;
  content: "";
  vertical-align: center;
  font-family: 'Open Sans Regular';
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  outline: none;
  color: #ffffff;
  border-radius: 0;
  cursor: pointer;
  outline: none;

  &:active{
    outline: none;
  }

}

.btn:hover{
  color: #ffffff;
  outline: none;
}

.section-title{

  margin-bottom: 33px;

  &__photo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before{
      display: block;
      content: '';
      width: calc(50% - 20px - 24px);
      height: 2px;
      background: #007dff;
    }

    &::after{
      display: block;
      content: '';
      height: 2px;
      background: #007dff;
      width: calc(50% - 20px - 24px);
    }

    img{

    }
  }

  &-text{
    text-transform: uppercase;
    color: #494949;
    font-size: 36px;
    text-align: center;
    margin-bottom: 55px;
  }
}

.def-form{
  position: absolute;
  min-height: 210px;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 38px;

  &-wrapper{
    width: 850px;
    margin: 0 auto;
  }

  &__text{
    text-align: center;
    width: 630px;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;

    &:hover{
      color: white;
    }
  }

  &__input{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;

    .btn{

      width: 30%;
    }

    &-field{
      width: 30%;
      height: 37px;
      background: transparent;
      font-size: 19px;
      border: 2px solid white;
      padding-left: 15px;
      color: white;
      outline: none;

      //ЭТО ПСЕВДОЭЛЕМЕНТ
      &::placeholder{
        color: white;
      }

      &:hover{
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.6);
      }

      &:active{
        outline: none;
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.6);
      }
    }

  }

  &__checkbox{
    margin-left: 93px;
    margin-top: 20px;

    label{
      margin-bottom: 0;
      cursor: pointer;

      span{
        color: white;
        font-size: 16px;
        font-family: 'Open Sans Regular';
        position: relative;
        padding-left: 40px;

        &::before{
          display: block;
          content: '';
          width: 16px;
          height: 16px;
          background-color: #ffffff;
          position: absolute;
          left: 10px;
          top: 0;
        }

        &::after{
          display: none;
          content: '';
          width: 16px;
          height: 16px;
          background-image: url('./files/imgs/icons/check.png');
          position: absolute;
          left: 10px;
          top: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }

      input{
        display: none;

      }

      &.on{

        span::after{
          display: block;
        }
      }

    }
  }


}

