#headering{
  //background: url("../files/imgs/inner.png") center no-repeat;
  width: 100%;
  background-size: cover!important;

  .container{
    max-width: 1440px;
  }
}

/*.nav__item:hover:after,
.nav__item.active:after {
  opacity: 1;
}*/

.header{
  &-top{
    height: 107px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    //background: white;
    background: rgba(255,255,255,.7);
    //opacity: .7;
    z-index: 1;
    right: 0;
    left: 0;

    //transform: translate3d(0,0,0);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  }

  .nav{

    &__item:hover:after,
    &__item.active:after {
      opacity: 1;
    }

    &__link{

      padding-bottom: 9px;

      &::after {
        //translate3d(0px, 10px, 0px);
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #007dff;
        opacity: 0;
      }

    }

    &__item{
      margin-right: 67px;
      font-size: 22px;
      text-transform: uppercase;
      font-family: 'Myriad Pro Regular';
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &:hover .nav__link::after{
        opacity: 1;
      }

      &:last-child{
        margin-right: 0;
      }

      &-icon{
        padding: 19px;
      }
    }

    &__icon{
      margin-right: 15px;
      align-self: center;
    }
  }

  .phone{
    display: flex;
    align-items: center;
    width: 50%;
    &__text{
      font-size: 22px;
    }
  }

  .address{
    display: flex;
    align-items: center;
    width: 50%;

    &__text{
      &_top{
        font-size: 18px;
        color: #f8484f;
        text-decoration: #f8484f dashed;
        border-bottom: #f8484f;
        font-family: 'Open Sans Regular';

      }
      &_bottom{
        font-size: 21px;
        font-family: 'Open Sans Regular';

      }
    }
  }

  &-right{
    display: flex;
    align-items: center;
  }

  &-inner{
    width: 100%;
    height: 864px;
    background-size: cover;
    position: relative;

    &__top{
      height: 162px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 107px;
    }

    &__logo{
      display: flex;
      justify-content: flex-end;
      padding-right: 67px;
    }

    &__text{

      width: 520px;

      &-item{
        font-size: 60px;
        //font-family: 'Myriad Pro Regular';
        color: #125ac6;
        font-family: 'Open Sans Bold';

        &_size_s{
          font-family: 'Open Sans Semibold';
          font-size: 30px;
        }
      }
    }
  }
}

.form{
  position: absolute;
  min-height: 210px;
  background: rgba(0,80,200,.6);

  //background: #0050c8;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  //opacity: .6;
  //display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 38px;

  &-wrapper{
    width: 850px;
    margin: 0 auto;
  }

  &__text{
    text-align: center;
    width: 615px;
    color: white;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    margin: 0 auto;

    &:hover{
      color: white;
    }
  }

  &__input{
    //width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;

    &-field{
      width: 265px;
      height: 35px;
      background: transparent;
      font-size: 19px;
      border: 3px solid white;
      padding-left: 15px;
      color: white;

      box-shadow: 0 3px 3px rgba(255,255,255,0.2);
    }

  }

  &__checkbox{
    margin-left: 93px;
    margin-top: 20px;

    p{
      color: white;
      font-size: 16px;
      font-family: 'Open Sans Regular';
    }
  }
}








@media screen
and (min-width: 1200px){
}